name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Add rustfmt and clippy
        run: rustup component add rustfmt clippy
      - name: Run cargo fmt
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings
      - name: Run clippy (tests)
        run: cargo clippy --tests --all-features
      - name: Run clippy (benches)
        run: cargo clippy --benches --all-features
      - name: Run clippy (examples)
        run: cargo clippy --examples --all-features
  test:
    runs-on: ubuntu-latest
    services:
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Run parser and connectiontests
        run: cargo test --all-features
      - name: Run integration tests
        run: cargo test -- --test-threads=1 --ignored
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Build
        run: cargo build --release --all-features
      - name: Build (examples)
        run: cargo build --release --examples --all-features

